h1{
    color: rgb(252, 81, 8);
}

.first{
    
    width: 250px;
    height: 190px;
    background-color: rgb(240, 137, 11);
    border-radius: 10%;
    padding: 10px;

}

.second{
    width: 250px;
    height: 190px;
    background-color: rgb(236, 16, 163);
    border-radius: 10%;
    padding: 10px;
}