.first{

    width: 325px;
    height: 200px;
    background-color: brown;
    position: absolute;
    z-index: 1;
    margin-top: 200px;
    margin-left: 300px;
    border-top-left-radius: 43px;
    border-bottom-right-radius: 43px; 


}
.second{

    width: 300px;
    height: 200px;
    background-color: rgb(50, 86, 230);
    margin-left: 12px;
    position: absolute;
    z-index: 2;
     border-top-left-radius: 43px;
    border-bottom-right-radius: 43px; 

}

.second h1{

    color: white;
    font-size: 70px;
    text-align: center;
    padding: 10px;
}